main {
  display: flex;
  min-height: 100vh;
  background-image: url(../images/bg-repeat.jpg);
  font-family: 'Roboto', sans-serif;
  background-size: contain;
}

#conteudo {
  width: 50%;
  align-self: center;
  justify-content: center;
  padding: 75px;
  margin-left: 105px;
}

#conteudo h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

#conteudo p {
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 160px 0 168px;
}

#formulario {
  width: 340px;
  height: 378px;
  margin-top: 165px;
  margin-left: -30px;
  background-color: #fff;
  padding: 20px;
  position: relative;
}


#formulario input, textarea, .botao {
  width: 298px;
  border-radius: 5px;
}

#formulario input {
  height: 35px;
  border: 1px solid black;
  margin-top: 5px;
}

#formulario input.valid, #formulario textarea.valid{
  border: 3px solid #00C22B;
}

#formulario input.invalid,#formulario textarea.invalid{
border: 3px solid #F52E2E;
}

#formulario input::placeholder, textarea::placeholder{
  padding: 10px 0 0 10px;
  font-size: 15px;
  font-weight: 700;
  color: #A8A8A8;
}

#formulario textarea {
 height: 100px;
 border: 1px solid black;
 margin-top: 5px;
}


#formulario .aviso {
 margin-bottom: 10px;
}

#formulario .botao {
 height: 41px;
 background-color: #3CCC87;
 border: none;
 color: #fff;
 font-size: 15px;
font-weight: 700;
}


#formulario .alerta {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: red;
    visibility: hidden;
} 

#formulario .visivel {
  visibility: visible;
}

.aviso {
  font-size: 15px;
}
